.mint-header.is-fixed  {
    z-index: 8;
}
.mytoast{
    color: red !important;
    background-color: aquamarine;
}
.iconClass{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
}
div mt-header{
    height: 40px;
}
.app_zong{
    padding-top:40px;
    padding-bottom: 54px;
}
.view{
    overflow-x: hidden;
}
.v-enter-active ,
.v-leave-active {
    transition: all 0.5s ease;
}
.v-enter {
    opacity: 0;
    transform: translateX(100%);
}
.v-leave-to {
    opacity: 0;
    transform: translateX(-100%);
    position:absolute;
}